.card {
    background-color: #FFFFFF;
    border: #000000 5px solid;
    min-height: 560px;
}

.card img {
    width: 80%;
    margin: 10px 0 0 0;
    border: #000000 2px solid;
}

.year {
    font-family: Rockwell, Arial, sans-serif;
}

.card:hover {
    box-shadow: 10px 12px 18px 1px #D60000;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .card {
        min-height: 480px;
    }
}

@media screen and (max-width: 960px) {
    .card {
        font-size: 0.9rem;
        min-height: 465px;
    }
}

@media screen and (max-width: 900px) {
    .card {
        font-size: 0.7rem;
        min-height: 320px;
    }
}

@media screen and (max-width: 780px) {
    .card {
        font-size: 0.5rem;
        min-height: 290px;
    }
}

@media screen and (max-width: 600px) {
    .card {
        font-size: 0.3rem;
        min-height: 260px;
    }
}

@media screen and (max-width: 400px) {
    .card {
        font-size: 0.1rem;
    }
}

@media screen and (max-width: 300px) {
    .card {
        font-size: 0.01rem;
    }
}