@font-face {
    font-family: Skyfall Done;
    src: url(../../assets/fonts/SkyFallDone.ttf);
}

.header-container {
    text-align: center;
    padding-top: 1.5%;
}

.title,
.description {
    font-family: "Skyfall Done";
    color: #ffffff;
}

.title {
    font-size: 4vw;
    text-shadow: 4px 4px 0 #D60000;
    margin: 0;
}

.description {
    font-size: 2vw;
    margin-top: 2%;
}